@if (isFavoriteMovieLoading) {
  <div class="loader" style="height: 100%; width: 100%; position: absolute; top: 0px; z-index: 10; background-color: rgb(255, 255, 255)">
    <app-loading></app-loading>
  </div>
}
  
  <div class="movie-list" style="position: relative;">
    <p><button style="float: right;" (click)="closeDialog()"><i class="fa-solid fa-xmark" ></i></button></p>
    <h4>Favorite Movies</h4>
    <mat-accordion>
        @for (movie of movies; track $index) {
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{ movie.title }} ({{ movie.year }})</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
          <!-- <p>{{ movie.description }}</p> -->
          <div class="custom-card">
            <div class="card-body flex justify-between items-center gap-1">
                <p class="custom-card-description" style="line-height: 1; margin-bottom: 8px;">{{  movie.description }}</p>
                <img class="custom-card-image" src="imageUrl" alt="{{ movie.title  }}"  style="height: 2.5rem; width: 2.5rem;"/>
            </div>
            <div class="custom-card-content">
                <button>
                    <a class="custom-card-button" style="color: white !important;">Watch Now</a>
                </button>
            </div>
          </div>          
      </mat-expansion-panel>
    }
    </mat-accordion>
  </div>
  