<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="w-full max-w-md px-12 py-7 bg-white rounded-lg shadow-lg">
        <h2 class="text-3xl font-bold text-center text-gray-800 mb-4">Sign Up</h2>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <div class="row mb-4">
                <span class="col-4 ">Name:</span>
                <div class="col-8">
                    <mat-form-field appearance="outline" class="w-full">
                        <input matInput formControlName="name" placeholder="Enter your name" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mb-4">
                <span class="col-4 ">Email:</span>
                <div class="col-8">
                    <mat-form-field appearance="outline" class="w-full">
                        <input matInput formControlName="email" placeholder="Enter your email" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mb-4">
                <span class="col-4 ">Password:</span>
                <div class="col-8">
                    <mat-form-field appearance="outline" class="w-full">
                        <input matInput type="password" formControlName="password" placeholder="Enter your password" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mb-4">
                <span class="col-4 ">Confirm Password:</span>
                <div class="col-8">
                    <mat-form-field appearance="outline" class="w-full">
                        <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm your password" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mb-4">
                <span class="col-4 ">Role:</span>
                <div class="col-8">
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-select matInput formControlName="role" placeholder="Select your role" required>
                            <mat-option value="user">User</mat-option>
                            <mat-option value="admin">Admin</mat-option>
                            <mat-option value="editor">Editor</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <!-- <div class="row mb-4">
                <span class="col-4 text-center">Photo:</span>
                <div class="col-8">
                    <mat-form-field appearance="outline" class="w-full">
                        <input  type="file" (change)="onFileSelected($event)" required>
                    </mat-form-field>
                </div>
            </div> -->
            <div class="flex items-center justify-center mb-4">
                <button mat-raised-button color="primary" class="w-full" type="submit" [disabled]="signUpForm.invalid">
                    Sign Up
                </button>
            </div>
        </form>
        <div class="mt-4 text-center">
            <p class="text-sm text-gray-600">Don't have an account? <a [routerLink]="['/signin']" class="text-blue-600 hover:underline">Sign In</a></p>
        </div>
    </div>
</div>
