<div class="main" style="height: 100vh; width: 100px;">
    <div class="sidenav" style="height: 100%; width: 100%;">
        <div class="logo rounded-lg flex justify-center items-center flex-col" style="height: 100px; width: 100%;">
            <i class="fa-solid fa-video" style="color: rgb(213, 105, 233); font-size: 2rem;"></i>
            <span class="text-sm " style='color:rgb(187, 0, 255) ;'>Movie </span>
        </div>
        <div class="action-bar flex flex-col justify-center items-center"
            style="height: calc(100% - 100px); color: white; font-size: 1rem;">

            <div class="action flex  justify-center items-center" style="height: 50px; width: 50px;">
                <i class="fa-regular fa-user"></i>
            </div>

            <div class="action flex  justify-center items-center" style="height: 50px; width: 50px;">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>

            <div class="action flex  justify-center items-center" style="height: 50px; width: 50px;">
                <i class="fa-solid fa-house"></i>
            </div>

            <div class="action flex  justify-center items-center" style="height: 50px; width: 50px;">
                <i class="fa-solid fa-tv"></i>
            </div>

            <div class="action flex  justify-center items-center" style="height: 50px; width: 50px;">
                <i class="fa-solid fa-film"></i>
            </div>

            <div class="action flex  justify-center items-center" style="height: 50px; width: 50px;">
                <i class="fa-solid fa-volleyball"></i>
            </div>
            <div class="action flex  justify-center items-center" style="height: 50px; width: 50px;">
                <i class="fa-solid fa-list"></i>
            </div>
        </div>

    </div>
</div>