<div class="main">

    @if (!isMovieLoaded) {

    @for( item of skeletonMovie ;let first=$first;track $index ){
    <div class="skeleton">
        <app-skeletoncard1></app-skeletoncard1>
    </div>
    }
    }

    @else {
    @for( item of movies ;let first=$first;track $index ){
    <div class="movie-card">
        <img [src]="item.image" alt="Movie Title">
        <div class="movie-info">
            <h2 class="movie-title text-center ">{{item.title}}</h2>
        </div>
        <div class="overlay flex justify-end items-center flex-col">
            <button mat-button (click)="openWatchMovieDialog()">
                <p class="text-center">Watch Now</p>
            </button>
            <p class="movie-description text-center">{{item.description}}</p>
        </div>
    </div>
    }
    }

</div>