<div class="footer">
        <!-- Footer Section -->
    <footer>
        <h3>Movie Collectionz</h3>
        <p>Explore a world of movies with us!</p>
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
        <div class="copyright">
            <p>&copy; 2024 Movie Collectionz. All rights reserved.</p>
        </div>
    </footer>
</div>