<div class="loaders-container  flex justify-center items-center flex-col"
    style="width: 100%; height: 100%; color: rgb(234, 0, 255);">
    <div class="container"
        style="width: 100%; height:60px; display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <div class="wavecontainer">
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
    </div>
    <p class="" style="margin-top: 30px; font-size: 20px; font-weight: bold;">Loading...</p>
</div>
